<ul>
  <li><%= link_to "New Task", :action => "new" %></li>
</ul>


<ul>
<% for task in @tasks -%>
  <li><%= link_to "done", done_url(task) %> - <%= task.points %> pts. - <%= task.name %></li>
<% end -%>
</ul>
