<ul>
  <li><%= link_to "New Task", :action => "new" %></li>
</ul>


<ul>
<% for task in @tasks -%>
  <li><%= task.points %> pts. - <%= link_to "done", :action => "done" %> - <%= task.name %></li>
<% end -%>
</ul>
